[user]
    email = pdemon@gmail.com
    name = Phil DeMonaco
[core]
	editor = vim
[color]
    ui = true

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --color
    type = cat-file -t
    dump = cat-file -p
